#title1{
    position:absolute;
    top: -20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}
.content_1{
    width:80%;
    position:absolute;
    top: 350px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;

}

ul li{
    width:100%;
    text-align: left;
}


